.admin-layout .sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #212529 !important;
}

.admin-layout .sidebar a {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  transition: background 0.3s;
}

.admin-layout .sidebar a:hover {
  background-color: #343a40;
  color: #fff !important;
}
